@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">

    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Daudi Symon<br />
        Islamic University In Uganda<br />
        P.O Box 2555<br />
        Mbale, Uganda<br />
        <abbr title="Phone">P:</abbr>
        0765750192

    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">rizler09@gmail.com</a><br />
    </address>
</main>