@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <center><h1 id="title">SUMA PHARMACY MANAGEMENT SYSTEM</h1></center>
    </section>
</main>   