@model IEnumerable<PharmMgtSys.Models.Medication>

@{
    ViewBag.Title = "Medication";
}

<h3>Medication</h3>


@(Html.DevExtreme().DataGrid<PharmMgtSys.Models.Medication>()
    .DataSource(ds => ds.WebApi()
        .RouteName("MedicationsWebApi")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("MedicationID")
    )
    .RemoteOperations(true)
    .ColumnHidingEnabled(true)
    .Sorting(d => d.Mode(GridSortingMode.Single))
    .AllowColumnReordering(true)
    .AllowColumnResizing(true)
    .GroupPanel(g => g.Visible(true))
    .ColumnChooser(f => f.Enabled(true).Mode(GridColumnChooserMode.Select))
    .SearchPanel(sp => sp.Visible(true).Width(240).Placeholder("Search..."))
    .ShowBorders(true)
    .HeaderFilter(h => h.Visible(true))
    .FocusedRowEnabled(true)
    .ShowColumnLines(true)
    .Columns(columns => {

        columns.AddFor(m => m.Name);

        columns.AddFor(m => m.Price);

        columns.AddFor(m => m.QuantityInStock);

        columns.AddFor(m => m.ReorderLevel);
    })
   .Editing(e => e
    .AllowAdding(true)
    .AllowUpdating(true)
    .AllowDeleting(true)
    .Mode(GridEditMode.Popup)
    .Popup(p => p.Title("Medication Info").ShowTitle(true))

)
   )
