@model IEnumerable<PharmMgtSys.Models.Sale>

@{
    ViewBag.Title = "Sales";
}

<h3>Sales</h3>

@(Html.DevExtreme().DataGrid<PharmMgtSys.Models.Sale>()
    .DataSource(ds => ds.WebApi()
        .RouteName("SalesWebApiApi")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("SaleID")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.SaleDate);

        columns.AddFor(m => m.MedicationID).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().RouteName("SalesWebApiApi").LoadAction("MedicationsLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );

        columns.AddFor(m => m.Quantity);

        columns.AddFor(m => m.Price);
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)