@model IEnumerable<PharmMgtSys.Models.Sale>

@{
    ViewBag.Title = "Sales";
}

<h3>Sales</h3>

@(Html.DevExtreme().DataGrid<PharmMgtSys.Models.Sale>()
    .DataSource(ds => ds.WebApi()
        .RouteName("SalesWebApi")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("SaleID")
    )
     .RemoteOperations(true)
    .ColumnHidingEnabled(true)
    .Sorting(d => d.Mode(GridSortingMode.Single))
    .AllowColumnReordering(true)
    .AllowColumnResizing(true)
    .GroupPanel(g => g.Visible(true))
    .ColumnChooser(f => f.Enabled(true).Mode(GridColumnChooserMode.Select))
    .ShowBorders(true)
    .HeaderFilter(h => h.Visible(true))
    .FocusedRowEnabled(true)
    .ShowColumnLines(true)
    .Columns(columns => {

        columns.AddFor(m => m.SaleDate);

        columns.AddFor(m => m.MedicationID).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().RouteName("SalesWebApi").LoadAction("MedicationsLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );

        columns.AddFor(m => m.Quantity);

        columns.AddFor(m => m.Price);
    })
    .Editing(e => e
    .AllowAdding(true)
    .AllowUpdating(true)
    .AllowDeleting(true)
    .Mode(GridEditMode.Popup)
    .Popup(p => p.Title("Sales Info").ShowTitle(true)) 
    )
)