@model IEnumerable<PharmMgtSys.Models.Purchase>

@{
    ViewBag.Title = "Purchases";
}

<h3>Purchases</h3>

@(Html.DevExtreme().DataGrid<PharmMgtSys.Models.Purchase>()
    .DataSource(ds => ds.WebApi()
        .RouteName("PurchasesWebApi")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("PurchaseID")
    )
    .RemoteOperations(true)
    .ShowBorders(true)
    .ColumnHidingEnabled(true)
    .AllowColumnReordering(true)
    .AllowColumnResizing(true)
    .FocusedRowEnabled(true)
    .ShowColumnLines(true)
    .ColumnHidingEnabled(true)
    .HeaderFilter(h => h.Visible(true))
    .FilterRow(f => f.Visible(true))
    .SearchPanel(sp => sp.Visible(true).Width(240).Placeholder("Search..."))
    .Sorting(s => s.Mode(GridSortingMode.Single))
    .GroupPanel(gp => gp.Visible(true))
    .ColumnChooser(cc => cc.Enabled(true).Mode(GridColumnChooserMode.Select))
    .Columns(columns => {

        columns.AddFor(m => m.PurchaseDate);

        columns.AddFor(m => m.MedicationID).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().RouteName("PurchasesWebApi").LoadAction("MedicationsLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );

        columns.AddFor(m => m.Quantity);
    })
    .Editing(e => e
    .AllowAdding(true)
    .AllowUpdating(true)
    .AllowDeleting(true)
    .Mode(GridEditMode.Popup)
    .Popup(p => p.Title("Purchase Info").ShowTitle(true))
    )
)