@model IEnumerable<PharmMgtSys.Models.Purchase>

@{
    ViewBag.Title = "Purchases";
}

<h3>Purchases</h3>

@(Html.DevExtreme().DataGrid<PharmMgtSys.Models.Purchase>()
    .DataSource(ds => ds.WebApi()
        .RouteName("PurchasesWebApi")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("PurchaseID")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.PurchaseDate);

        columns.AddFor(m => m.MedicationID).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().RouteName("PurchasesWebApi").LoadAction("MedicationsLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );

        columns.AddFor(m => m.Quantity);
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .Mode(GridEditMode.Popup)
        .Popup(p => p.Title("Purchase Info").ShowTitle(true))
    )
)